:root,
:root.light {
    --primary: #0d6efd;

    --main-color: black;
    --secondary-color: white;
    --background: #e2e8f0;
}

.grid-container {
    display: grid;
    /*grid-template-areas: 
    'side header       header       header      '
    'side main-content main-content main-content';*/
    grid-template-columns: 1fr 3fr;
    grid-template-rows: 1fr 3fr;
}

.header {
    /*grid-area: header;*/
    grid-column: 2;

    display: grid;
    grid-template-columns: 1fr;
    grid-template-rows: 1fr 1fr;
}

.firstHeader {
    display:grid;
    grid-template-columns: 3fr 1fr;
}

.userControl {
    display:grid;
    grid-template-columns: 1fr 3fr 1fr 1fr 1fr;
}

.side {
    /*grid-area: side;*/
    grid-column: 1;
    grid-row: 1 / 3;
    color: var(--secondary-color);
    background-color: var(--primary);
}

.side ul {
    list-style: none;
    display: grid;
}

.main-content {
    /*grid-area: main-content;*/
    grid-column: 2;
    grid-row: 2;

    display:grid;
    grid-template-columns: 3fr 1fr;
    grid-template-rows: 1fr 1fr;
    background-color: var(--background);
}

.projects {
    grid-column: 1;
    grid-row: 1 / 3;
}

.cards-container {
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(250px, 1fr));
}

.announcements {
    grid-column: 2;
}

.trending {
    grid-column: 2;
}